<head>
<style>
.ids{
    display: flex;
    justify-content:space-evenly;
    
}
</style>
</head>
<h1>Header ka code</h1>
<div class="ids">
<a href="/">Main Page</a>
<a href="/home">Home</a>
<a href="/register">Register</a>
<a href="/login">Login</a>
<a href="/showusers">Show Users</a>
</div>